<% provide(:title, "All Users") %>
<h1>
  <% if params[:search] %>
    <%= "検索結果" %>
  <% else %>
    <%= "全てのユーザー" %>
  <% end %>
</h1>

<div class="row container">
  <div class="col-md-4 col-md-offset-8" >
    <h5>ユーザー名検索</h5>
    <form class="form-inline" >
      <%= form_with url: users_path, method: :get, local: true do |f| %>
      <%= f.text_field :search, placeholder: 'キーワードを入力', class: "form-control" %>
      <%= f.submit '検索', :name => nil, class: "btn btn-md btn-primary" %>
    <% end %>
    </form>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th><%= User.human_attribute_name :basic_time %></th>
        <th><%= User.human_attribute_name :work_time %></th>
      </tr>
    </thead>
    
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to user.name, user %>
          <% else %>
            <%= user.name %>
          <% end %>
          <% if current_user.admin? && !current_user?(user) %>
             | <%= link_to "基本情報編集", edit_basic_info_user_path(user), remote: true %>
             | <%= link_to "削除", user, method: :delete, 
             data: { confirm: "削除してよろしいですか？" } %>
          <% end %>
        </td>
        <td><%= format_basic_info(user.basic_time) %></td>
        <td><%= format_basic_info(user.work_time) %></td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウィンドウ表示-->

<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>